
        .navbar-brand{
            padding-left: 20px;
        }
        
        .navbar-nav{
            padding-left: 20px;
        }
        .navbar-nav li.nav-item a.nav-link:hover {
            color: #333; /* Change to your desired color */
          }
    
        .koti {
            position: relative;
            height: 800px;
            width: 100%;
            display: table;
            
            align-items: center;
            justify-content: center;
         
        }

        .koti::before {
            content: "";
            background: url('lumilautailu.webp') no-repeat center center fixed;
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;left: 0px;
            opacity: 0.55;
         
        }


        .landing {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
       
        .landing h1 {
           
            position: relative;
            width: 40%;
            padding-left: 30px;
            
            

        }

        .tutustu-nappi {
            position: absolute;
        
            top: 65%;
            left: 25%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
          
        .tutustu-nappi a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
        }


        .esittely-osa h1{
            padding-top: 120px;
            padding-bottom: 20px; 
        }
        .esittely-osa p{
        
            font-size: 20px;
        }


        .kategoriat-osa{
            padding-top: 40px;
            padding-bottom: 60px;
        }

        .kategoriat-osa h2{
            padding-top: 50px;
            padding-bottom: 50px;
                   
        }
        .kategoriat-osa .col-sm {
            padding-top: 20px;
            padding-bottom: 20px;
        }


        .kartta-osa {
            background-color: #7ed957;
        }
        .kartta-osa h2{
            padding-top: 40px;
            padding-bottom: 20px;
                   
        }
        .kartta-osa iframe{
            padding-bottom: 50px;
        }

        .yhteystiedot h2{
            text-align: left;
            padding-top: 50px;
            padding-bottom: 20px;
            padding-left: 20px;
    
        }

        ul {
             text-align: left;
             list-style-position: inside;
        }

        li a {
            text-decoration: none;
            font-weight:bold;
        }

       